.kdn-layout-sider-header {
    padding-left: 32px !important;
}

.kdn-sidebar-content {
    .ant-menu-item {
        span {
            a {
                padding: 10px 0;
            }
        }

        &.ant-menu-item-selected {
            span {
                a {
                    span {
                        color: inherit;
                    }
                }
            }
        }
    }
}
